/* part 01 :  */
.for_button{
    background-color: #4E47FF;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
#for_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

#for_logo_color{
    color: #4e47ff;
}

#for_center{
    text-align: center;
    margin-top: auto;
    justify-content: center;
}

#for_background_img{
    background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
}

.for_buttom{
    margin-bottom: 200px;
}

.for_text_font{
    color: #252432;
    margin-top: 100px;
    margin-bottom: 20px;
    gap: auto;
}

/* Part 2 :  */


.for_text{
    color: #252432;
}
.for_flex{
    display: flex;
    justify-content: center;
    /* align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px; */
    margin: 50px;
    gap: 200px;

}

.for_picture_border_radious{
    border-radius: 40px;
    width: 403px;
    height: 328px;
}